{template '../../../addons/'.MODULE.'/template/web/'.$_W['mtemp'].'/common/myheader'}

<div class="list-content">
{if in_array($_GPC['op'],array('waitpay','payed','back','refuse','alipay','qrpay'))}
    <div class="table-full-wrap" >
    	{if $_GPC['op'] == 'alipay' || $_GPC['op'] == 'qrpay'}
        <div class="operation-wrap" data-follow-thead="table">
            <div class="buttons-wrap">
		        <form enctype="multipart/form-data" class="import_order" action="" method="post">
		            <span class="ui-group">
				        <label href="javascript:;" class="btn btn_add ">
				            <i class="icon14_common add_gray"></i>
				            <span>导入CSV文件批量设为已支付状态(非自动到账)</span>
				            <input type="file" name="inputfile" style="display: none" />
				        </label>
		                <button type="submit" name="import" class="ui-ctrl ui-button" value="确定导入">确定导入</button>
		                <input name="token" type="hidden" value="{$_W['token']}" />
		            </span>
		        </form>
            </div>
            <div class="buttons-quick-wrap">
                <a href="{php echo WebCommon::logUrl('download','1')}" class="ui-ctrl ui-button skin-ok-button" >下载表格</a>
            </div>
        </div>
        {/if}

	<form action="" method="post">
        <div class="ui-ctrl ui-table ui-table-filter"> 
            <div class="ui-table-head" style=" top: 0px; left: 0px;">
            <div class="ui-ctrl ui-panel">
            <table cellpadding="0" cellspacing="0" width="100%">
            <tbody>
                <tr>
                    <th class="ui-table-hcell" >
                        <div class="ui-table-hcell-text ui-table-hcell-text-first ui-table-hcell-sel">
                            <input type="checkbox" class="ui-table-select-all" />id
                        </div>
                    </th>
                    <th class="ui-table-hcell ui-table-hcell-sort" >
                        <div class="ui-table-hcell-text">提现人</div>
                    </th>
                    <th class="ui-table-hcell hcell-filter" >
                        <div class="ui-table-hcell-text">提现{$_W['cname']}</div>
                    </th>
                    <th class="ui-table-hcell hcell-filter" >
                        <div class="ui-table-hcell-text">
			    			{if $_GPC['op'] == 'waitpay' || $_GPC['op'] == 'alipay' || $_GPC['op'] == 'qrpay'}
			    				提现时间
			    			{elseif $_GPC['op'] == 'payed'}
			    				支付时间
			    			{elseif $_GPC['op'] == 'back'}
			    				退回时间
			    			{elseif $_GPC['op'] == 'refuse'}
			    				拒绝时间	    				    				
			    			{/if}
                        </div>
                    </th>
                    <th class="ui-table-hcell hcell-filter" >
                        <div class="ui-table-hcell-text">收款账户</div>
                    </th>
                    <th class="ui-table-hcell hcell-filter" >
                        <div class="ui-table-hcell-text">状态
                            
                        </div>
                    </th>
                    <th class="ui-table-hcell"  >
                        <div class="ui-table-hcell-text ui-table-hcell-text-last">操作</div>
                    </th>
                </tr>
            </tbody>
            </table>
            </div>
            </div>
            <div class="ui-table-body">
            <div class="ui-ctrl ui-panel">
            {loop $list $item}    
            <div class="ui-table-row ui-table-row-even" >  
            <table cellpadding="0" cellspacing="0" width="100%" data-control-table="table">
            <tbody>
                <tr>
                    <td id="ctrl-e-table-cell0-0" class="ui-table-cell" >
                        <div class="ui-table-cell-text ui-table-cell-text-first ui-table-cell-sel">
                            <span>
                                <input type="checkbox" class="ui-table-multi-select" name="checkall[]" value="{$item['id']}" />{$item['id']}
                            </span>
                        </div>
                    </td>
                    <td id="ctrl-e-table-cell0-1" class="ui-table-cell" >
                        <div class="ui-table-cell-text">
			    			<img src="{$item['user']['headimgurl']}" height="25px" width="25px">{$item['user']['nickname']}
			    			<p>
			    				id:{$item['user']['id']}
			    			</p>
                        </div>
                    </td>
                    <td class="ui-table-cell" >
                        <div class="ui-table-cell-text" >
				     		积分：{$item['money']}
                            {if $_W['set']['moneytype'] == 1}
                                <p>金额：{php echo $item['money']/$per}</p>
                            {/if}
                        </div>
                    </td>
                    <td class="ui-table-cell"  >
                        <div class="ui-table-cell-text">
				     		{if $_GPC['op'] == 'waitpay' || $_GPC['op'] == 'alipay' || $_GPC['op'] == 'qrpay'}
				    			{php echo date('m-d H:i',$item['createtime'])}
				     		{else}
				     			{php echo date('m-d H:i',$item['dealtime'])}
				     		{/if}
                        </div>
                    </td>
                    <td class="ui-table-cell"  >
                        <div class="ui-table-cell-text">
			     			{if $item['paytype'] == 0}
			     				微信号
			    			{/if}
			     			{if $item['paytype'] == 1}
			    				<p>{$item['alipayname']}</p>
			    				<p>{$item['alipay']}</p>
			    			{/if}
			    			{if $item['paytype'] == 2}
			    				<img class="payqr" style="cursor: pointer;" width="40px" height="40px" src="{php echo tomedia( $item['user']['payqr'] )}">
			    			{/if}
                        </div>
                    </td>
                    <td class="ui-table-cell"  >
                        <div class="ui-table-cell-text">
			    			{if $item['status'] == 0}
			    				待支付
			    			{elseif $item['status'] == 1}
			    				已支付
			    				{if !empty( $item['payno'] )}
			    					<p class="font_mini">{$item['payno']}</p>
			    				{/if}
			    			{elseif $item['status'] == 2}
			    				已退回
			    				{if !empty( $item['backreason'] )}
			    				<p class="font_mini">退回原因:{$item['backreason']}</p>
			    				{/if}
			    			{elseif $item['status'] == 3}
			    				已拒绝	
			    				{if !empty( $item['refusereason'] )}
			    				<p class="font_mini">拒绝原因:{$item['refusereason']}</p>
			    				{/if}   				    				
			    			{/if}
                        </div>
                    </td>

                    <td class="ui-table-cell"  >
                        <div class="ui-table-cell-text-last">
					    	<a target="_blank" href="{php echo $this->createWebUrl('user',array('op'=>'money','id'=>$item['user']['id']))}" >查看收支明细</a>	
					    	<p>
					    		{if $_GPC['op'] == 'qrpay'}
					    			<a href="javascript:;" oid="{$item['id']}" class="setpayed">设为已支付</a>
					    		{/if}
					    		<a href="{php echo $this->createWebUrl('money',array('op'=>'delete','id'=>$item['id']))}" onclick="return confirm('删除不能恢复，确定要删除吗？');">删除</a>
					    	</p>
                        </div>
                    </td>
                </tr>
            </tbody>
            </table>
            </div>
            {/loop}
            </div>
            </div>
        </div>
    </div>
    <div class="ui-row">
        <div class="bot_btnlist fl">
            <div class="ui-select-out input_100 fl" style="margin-right: 10px;">
                <div class="ui-select">
                    <span class="ui-select-text">
                        每页{php echo empty( $_GPC['pnum'] ) ? 10 : $_GPC['pnum'] }项
                    </span>
                </div>
                <ol class="ui-select-layer ui-layer" >
                    <li class="ui-select-item ">
                        <a href="{php echo WebCommon::logUrl('pnum',10)}">
                            <span title="">10项</span>
                        </a>
                    </li>
                    <li class="ui-select-item ">
                        <a href="{php echo WebCommon::logUrl('pnum',20)}">
                            <span title="">20项</span>
                        </a>
                    </li>
                    <li class="ui-select-item ">
                        <a href="{php echo WebCommon::logUrl('pnum',50)}">
                            <span title="">50项</span>
                        </a>
                    </li>
                    <li class="ui-select-item ">
                        <a href="{php echo WebCommon::logUrl('pnum',100)}">
                            <span title="">100项</span>
                        </a>
                    </li>
                </ol>
            </div>
        	<div class="ui-select-out input_100 fl">
				<div class="ui-select">
					<span class="ui-select-text">
						选择批量操作
					</span>
				</div>
				<ol class="ui-select-layer ui-layer" >
					{if $_GPC['op'] == 'waitpay'}
					<li class="ui-select-item ">
						<span title="">
							<input name="payall" class="alldeal_btn" value="支付所选" onclick="return confirm('确定要支付选择的吗？');" type="submit">
						</span>
					</li>
					<li class="ui-select-item ">
						<span title="">
							<input name="refuseall" class="alldeal_btn" value="拒绝所选" onclick="return confirm('确定要拒绝选择的吗？');" type="submit">
						</span>
					</li>
					<li class="ui-select-item ">
						<span title="">
							<input name="backall" class="alldeal_btn" value="退回所选" onclick="return confirm('确定要退回选择的吗？');" type="submit">
						</span>
					</li>
					{elseif $_GPC['op'] == 'refuse'}
					<li class="ui-select-item ">
						<span title="">
							<input name="comall" class="alldeal_btn" value="恢复正常" onclick="return confirm('确定要将选择的恢复正常吗？');" type="submit">
						</span>
					</li>
					{elseif $_GPC['op'] == 'alipay' || $_GPC['op'] == 'qrpay'}
					<li class="ui-select-item">
						<span title="">
							<input name="alipaypayall" class="alldeal_btn" value="设为已支付" onclick="return confirm('确定要将选择的设为已支付状态吗？(非自动到账)');" type="submit">
						</span>
					</li>
					{if $_GPC['op'] == 'alipay'}
						<li class="ui-select-item">
							<span title="">
								<input name="alipaytoall" class="alldeal_btn" value="支付所选" onclick="return confirm('确定要支付选择的吗？(自动到账)');" type="submit">
							</span>
						</li>
					{/if}

					<li class="ui-select-item">
						<span title="">
							<input name="refuseall" class="alldeal_btn" value="拒绝所选" onclick="return confirm('确定要拒绝选择的吗？');" type="submit">
						</span>
					</li>
					<li class="ui-select-item">
						<span title="">
							<input name="backall" class="alldeal_btn" value="退回所选" onclick="return confirm('确定要退回选择的吗？');" type="submit">
						</span>
					</li>
					{/if}
					<li class="ui-select-item">
						<span title="">
							<input name="deleteall" class="alldeal_btn" value="删除所选" onclick="return confirm('确定要删除选择的吗？');" type="submit">
						</span>
					</li>
				</ol>
        	</div>
  			{if $_GPC['op'] == 'waitpay' || $_GPC['op'] == 'alipay' || $_GPC['op'] == 'qrpay' }
                <esui-text-box class="ui-ctrl ui-textbox">
                    <input type="text" class="input_150"  name="reason" value="" placeholder="在此输入退回/拒绝理由">
                </esui-text-box>
			{/if}
            <input type="hidden" name="token" value="{$_W['token']}">
        </div>
        <div class="ui-pager">
            {$pager}
        </div>
    </div>
	</form>       
    </div>

{elseif $_GPC['op'] == 'log' }

    <div class="table-full-wrap" >

	<form action="" method="post">
        <div class="ui-ctrl ui-table ui-table-filter"> 
            <div class="ui-table-head" style=" top: 0px; left: 0px;">
            <div class="ui-ctrl ui-panel">
            <table cellpadding="0" cellspacing="0" width="100%">
            <tbody>
                <tr>              	
                    <th class="ui-table-hcell" >
                        <div class="ui-table-hcell-text ui-table-hcell-text-first ui-table-hcell-sel">
                            <input type="checkbox" class="ui-table-select-all" />id
                        </div>
                    </th>
                    <th class="ui-table-hcell ui-table-hcell-sort" >
                        <div class="ui-table-hcell-text">会员</div>
                    </th>
                    <th class="ui-table-hcell hcell-filter" >
                        <div class="ui-table-hcell-text">变化金额</div>
                    </th>
                    <th class="ui-table-hcell hcell-filter" >
                        <div class="ui-table-hcell-text">变化时间</div>
                    </th>
                    <th class="ui-table-hcell hcell-filter" >
                        <div class="ui-table-hcell-text">类型
                            
                        </div>
                    </th>
                    <th class="ui-table-hcell"  >
                        <div class="ui-table-hcell-text ui-table-hcell-text-last">操作</div>
                    </th>
                </tr>
            </tbody>
            </table>
            </div>
            </div>
            <div class="ui-table-body">
            <div class="ui-ctrl ui-panel">
            {loop $list $item}    
            <div class="ui-table-row ui-table-row-even" >  
            <table cellpadding="0" cellspacing="0" width="100%" data-control-table="table">
            <tbody>
                <tr>
                    <td id="ctrl-e-table-cell0-0" class="ui-table-cell" >
                        <div class="ui-table-cell-text ui-table-cell-text-first ui-table-cell-sel">
                            <span>
                                <input type="checkbox" class="ui-table-multi-select" name="checkall[]" value="{$item['id']}" />{$item['id']}
                            </span>
                        </div>
                    </td>
                    <td id="ctrl-e-table-cell0-1" class="ui-table-cell" >
                        <div class="ui-table-cell-text">
	    					<img src="{$item['user']['headimgurl']}" height="40px" width="40px">{$item['user']['nickname']}
                        </div>
                    </td>
                    <td class="ui-table-cell" >
                        <div class="ui-table-cell-text" >
			     			{if $item['money'] > 0} 
			    				{$item['money']}
			     			{else}
			     				<p class="font_ff5f27">{$item['money']}</p>
			     			{/if}
                        </div>
                    </td>
                    <td class="ui-table-cell"  >
                        <div class="ui-table-cell-text">
			     			{php echo date('Y-m-d H:i',$item['time'])}
                        </div>
                    </td>
                    <td class="ui-table-cell"  >
                        <div class="ui-table-cell-text">
	    			{if $item['type'] == 1}
	    				提现扣除
	    			{elseif $item['type'] == 2}
	    				充值增加
	    			{elseif $item['type'] == 3}
	    				发私包任务扣除
	    			{elseif $item['type'] == 4}
	    				退回私包任务赏金 	
	    			{elseif $item['type'] == 5}
	    				私包任务收入 
	    			{elseif $item['type'] == 6}
	    				下级获得收益提成
	    			{elseif $item['type'] == 7}
	    				发布普通任务扣除
	    			{elseif $item['type'] == 8}
	    				普通任务收益
	    			{elseif $item['type'] == 9}
	    				扣除服务费
	    			{elseif $item['type'] == 10}
	    				普通任务结束退回
	    			{elseif $item['type'] == 11}
	    				连续任务额外奖励
	    			{elseif $item['type'] == 12}
	    				追加任务扣除
	    			{elseif $item['type'] == 13}
	    				管理员操作	
	    			{elseif $item['type'] == 14}
	    				退回提现	
	    			{elseif $item['type'] == 15}
	    				扣除提现手续费
	    			{elseif $item['type'] == 16}
	    				查看联系方式扣除
	    			{elseif $item['type'] == 17}
	    				联系方式被查看奖励
	    			{elseif $item['type'] == 18}
	    				发布广告扣除
	    			{elseif $item['type'] == 19}
	    				发布试用任务扣除
	    			{elseif $item['type'] == 20}
	    				试用任务收益
	    			{elseif $item['type'] == 21}
	    				试用任务结束退回
	    			{elseif $item['type'] == 22}
	    				审核担保任务扣除
	    			{elseif $item['type'] == 23}
	    				担保任务保证金
	    			{elseif $item['type'] == 24}
	    				担保任务收益
	    			{elseif $item['type'] == 25}
	    				退回担保任务资金
	    			{elseif $item['type'] == 26}
	    				退回担保任务保证金
	    			{elseif $item['type'] == 27}
	    				发布担保任务扣除
	    			{elseif $item['type'] == 28}
	    				下下级获得收益提成
	    			{elseif $item['type'] == 29}
	    				下下下级获得收益提成
	    			{elseif $item['type'] == 30}
	    				下级发布任务提成
	    			{elseif $item['type'] == 31}
	    				下下级发布任务提成
	    			{elseif $item['type'] == 32}
	    				下下下级发布任务提成
                    {elseif $item['type'] == 33}
                        下级升级会员提成    
                    {elseif $item['type'] == 34}
                        下下级升级会员提成 
                    {elseif $item['type'] == 35}
                        下下下级升级会员提成
                    {elseif $item['type'] == 36}
                        查看答案扣除
                    {elseif $item['type'] == 37}
                        查看答案分成
                    {elseif $item['type'] == 38}
                        领取宝箱收入
                    {elseif $item['type'] == 39}
                        利润回馈的金额
                    {elseif $item['type'] == 40}
                        兑换活跃度扣除
                    {elseif $item['type'] == 41}
                        恢复任务扣除    
	    			{/if}
                        </div>
                    </td>                                   
                    <td class="ui-table-cell"  >
                        <div class="ui-table-cell-text-last">
					    	<a href="{php echo $this->createWebUrl('money',array('op'=>'deletelog','id'=>$item['id']))}" onclick="return confirm('删除不能恢复，确定要删除吗？');">删除</a>
                        </div>
                    </td>
                </tr>
            </tbody>
            </table>
            </div>
            {/loop}
            </div>
            </div>
        </div>
    </div>
    <div class="ui-row">
        <div class="bot_btnlist fl">
            <input type="submit" name="deletealllog" value="删除所选" onclick="return confirm('确定要删除选择的吗？');" class="ui-button ui-dialog-ok-btn">

            {php echo WebCommon::pnumStr($_GPC['pnum'])}

            <input type="hidden" name="token" value="{$_W['token']}">
        </div>
        <div class="ui-pager">
            {$pager}
        </div>
	</form>       
    </div>
{/if}	
</div>	
{template '../../../addons/'.MODULE.'/template/web/bdui/common/copyright'}  	
{template 'common/footer'}