{template 'common/myheader'}
    <div id="page_usetask" class="page page-current page_usetask">
		<div class="content infinite-scroll" data-distance="50">
			{template 'common/slide'}
			<div class="list_container router">
				<!-- <a href="">
					<div class="good_item">
						<div class="good_item_in">
							<div class="good_img">
								<img src="../addons/zofui_showtmall/public/images/0.jpg">
							</div>
							<div class="good_title">完全放弃无法完全放弃无法完全放弃无法完全放弃无法完全放弃无法完全放弃无法完全放弃无法</div>
							<div class="good_bot item_cell_box">
								<li class="item_cell_flex price_icon">555</li>
								<li class="good_cart">11211</li>
							</div>
						</div>
					</div>
				</a> -->
			</div>
			<div class="infinite-scroll-preloader">
				<div class="preloader"></div>
			</div>

		</div>
	</div>

{template 'common/nav'}	
{template 'common/myfooter'}

